.dropdown_container {
    display: flex;
    position: relative;
    display: inline-block;
       
    .work_container {
        position: relative;
    
        button {
        //   background-color: #f1f1f1;
          color: white;
        //   padding: 10px;
          font-size: 16px;
          border: none;
          cursor: pointer;
        }
    
    }  


        .dropdown_menu {
            position: absolute;
            top: calc(100% + 5px);

            li {
                padding-bottom: 7px;
                
                
                a {
                    color: #DAA520;
                }
            

            &:hover {
                text-decoration: underline;
                color: #DAA520;
            }

            &:active {
                text-decoration: none;
            }
        }
        &:hover .dropdown_menu {
            display: block;
        }
        }

      
        
      }
