@import "../../styles/grid.scss";

.header_section {
    @extend %grid_container;

    header {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        color: white;

        &:hover {
            text-decoration: underline;
        }

        &:active {
            text-decoration: none;
        }
    }

    .header_right {
        display: flex;
        gap: 86px;
    }

    button {
        color: white;
        &:hover {
            text-decoration: underline;
        }

        &:active {
            text-decoration: none;
        }
    }

}

@media (max-width: 425px) {
    .header_section {
        header {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;

            h1 {
                padding-top: 5rem;
            }
        }

        .header_right {
            gap: 3.125rem;
        }
    }
}