@import "../../styles/grid.scss";

.header_section {
    @extend %grid_container;

    header {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        color: black;
    }

    .header_right {
        display: flex;
        gap: 86px;
    }

}

@media (max-width: 425px) {
    .header_section {
        header {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;

            h1 {
                padding-top: 5rem;
            }
        }
    }
}